## Creating a Pandas DataFrame

In [1]:
# import pandas as pd
import pandas as pd
 
# list of strings
lst = ['It', 'Is', 'Sunday', 'Today', 
            'Time', 'To', 'Learn']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

        0
0      It
1      Is
2  Sunday
3   Today
4    Time
5      To
6   Learn

 
Creating DataFrame from dict of ndarray/lists: To create DataFrame from dict of narray/list, all the narray must be of same length. If index is passed then the length index should be equal to the length of arrays. If no index is passed, then by default, index will be range(n) where n is the array length.

In [2]:
# Python code demonstrate creating 
# DataFrame from dict narray / lists 
# By default addresses.
 

# intialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

Dealing with Rows and Columns

Column Selection: In Order to select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name.

In [8]:
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
print(df)
# select two columns
print('\n')
print(df[['Address', 'Age']])

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd


     Address  Age
0      Delhi   27
1     Kanpur   24
2  Allahabad   22
3    Kannauj   32

Row Selection: Pandas provide a unique method to retrieve rows from a Data frame. DataFrame.loc[] method is used to retrieve rows from Pandas DataFrame. Rows can also be selected by passing integer location to an iloc[] function.

In [18]:
data = pd.read_csv("nba.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [15]:

 
# making data frame from csv file
data = pd.read_csv("nba.csv" , index_col ="Name")#, index_col ="Name"

# retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]
print(first, "\n\n\n", second)
#Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0

Team        Boston Celtics
Number                   0
Position                PG
Age                     25
Height                 6-2
Weight                 180
College              Texas
Salary         7.73034e+06
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height                 6-5
Weight                 185
College      Georgia State
Salary         1.14864e+06
Name: R.J. Hunter, dtype: object

In [11]:
data.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

Indexing and Selecting Data

Indexing in pandas means simply selecting particular rows and columns of data from a DataFrame. Indexing could mean selecting all the rows and some of the columns, some of the rows and all of the columns, or some of each of the rows and columns. Indexing can also be known as Subset Selection.

Indexing a Dataframe using indexing operator [] :
Indexing operator is used to refer to the square brackets following an object. The .loc and .iloc indexers also use the indexing operator to make selections. In this indexing operator to refer to df[].

Selecting a single columns

In order to select a single column, we simply put the name of the column in-between the brackets

In [ ]:

# retrieving columns by indexing operator
first = data["Age"]
print(first)
print('\n')
first1 = data[["Age", "College", "Salary"]] 

print(first1)

Indexing a DataFrame using .loc[ ] :

This function selects data by the label of the rows and columns. The df.loc indexer selects data in a different way than just the indexing operator. It can select subsets of rows or columns. It can also simultaneously select subsets of rows and columns.

In [ ]:
#In order to select a single row using .loc[], 
#we put a single row label in a .loc function.
# retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]
 
 
print(first, "\n\n\n", second)

In [ ]:
# retrieving multiple rows by loc method 
first = data.loc[["Avery Bradley", "R.J. Hunter"]] 
print(first)

In [ ]:
# retrieving two rows and three columns by loc method 
first = data.loc[["Avery Bradley", "R.J. Hunter"], 
                   ["Team", "Number", "Position"]] 
     
print(first) 
data.head()

In [ ]:
# retrieving all rows and some columns by loc method 
first = data.loc[:, ["Team", "Number", "Position"]] 
   
  
print(first)

Indexing a DataFrame using .iloc[ ] :
    
This function allows us to retrieve rows and columns by position. In order to do that, we’ll need to specify the positions of the rows that we want, and the positions of the columns that we want as well. The df.iloc indexer is very similar to df.loc but only uses integer locations to make its selections.

In [ ]:
# retrieving rows by iloc method 
row2 = data.iloc[3] 
 
print(row2)

In [ ]:
# retrieving multiple rows by iloc method  
row2 = data.iloc [[3, 5, 7]] 
  
  
row2

In [ ]:
# retrieving all rows and some columns by iloc method  
row2 = data.iloc [:, [1, 2]] 
  
  
print(row2)

In [ ]:
# dictionary of lists 
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"], 
        'degree': ["BCA", "BCA", "M.Tech", "BCA"], 
        'score':[90, 40, 80, 98]} 
  
# creating a dataframe  
df = pd.DataFrame(dict) 
   
# using a comparsion operator for filtering of data 
print(df['degree'] == 'BCA')

In [ ]:
# making data frame from csv file 
data = pd.read_csv("nba.csv", index_col ="Name") 
   
# using greater than operator for filtering of data 
print(data['Age'] >= 25) 
data.head()

In [ ]:
# dictionary of lists 
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"], 
        'degree': ["BCA", "BCA", "M.Tech", "BCA"], 
        'score':[90, 40, 80, 98]} 
   
  
df = pd.DataFrame(dict, index = [0, 1, 2, 3]) 
  
mask = df.index == 0
  
print(df[mask])

In [ ]:
# making data frame from csv file 
data = pd.read_csv("nba1.1.csv") 
  
# giving a index to a dataframe 
df = pd.DataFrame(data, index = [0, 1, 2, 3, 4, 5, 6, 
                                 7, 8, 9, 10, 11, 12]) 
  
# filtering data on index value 
mask = df.index > 7 
  
df[mask]

# Working with Missing Data

Missing Data can occur when no information is provided for one or more items or for a whole unit. Missing Data is a very big problem in real life scenario. Missing Data can also refer to as NA(Not Available) values in pandas

Checking for missing values using isnull() and notnull() :

In order to check missing values in Pandas DataFrame, we use a function isnull() and notnull(). Both function help in checking whether a value is NaN or not.

In [19]:
# dictionary of lists
import numpy as np
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from list
df = pd.DataFrame(dict)
 
# using isnull() function  
df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

Filling missing values using fillna(), replace() and interpolate() :

In order to fill null values in a datasets, we use fillna(), replace() and interpolate() function these function replace NaN values with some value of their own. All these function help in filling a null values in datasets of a DataFrame. 

Interpolate() function is basically used to fill NA values in the dataframe but it uses various interpolation technique to fill the missing values rather than hard-coding the value.

In [20]:
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
 
# filling missing value using fillna()  
df.fillna(0)

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

Dropping missing values using dropna() :

In order to drop a null values from a dataframe, we used dropna() function this fuction drop Rows/Columns of datasets with Null values in different ways.

In [21]:
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
   
print(df)

#Now we drop rows with at least one Nan value (Null value)

 
# using dropna() function  
print('\n')
print("TABLE AFTER DROPING THE NaN VALUES")

print(df.dropna())

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0           52           NaN
1         90.0           NaN           40           NaN
2          NaN          45.0           80           NaN
3         95.0          56.0           98          65.0


TABLE AFTER DROPING THE NaN VALUES
   First Score  Second Score  Third Score  Fourth Score
3         95.0          56.0           98          65.0

# Iterating over rows and columns

Iteration is a general term for taking each item of something, one after another. Pandas DataFrame consists of rows and columns so, in order to iterate over dataframe, we have to iterate a dataframe like a dictionary.

Iterating over rows :

In order to iterate over rows, we can use three function iteritems(), iterrows(), itertuples() . These three function will help in iteration over rows.

In [ ]:
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)
print(df)
print('\n') 
  


# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

Methods for indexing in DataFrame

FUNCTION	DESCRIPTION

    Dataframe.head()	Return top n rows of a data frame.
    Dataframe.tail()	Return bottom n rows of a data frame.
    Dataframe.at[]	Access a single value for a row/column label pair.
    Dataframe.iat[]	Access a single value for a row/column pair by integer position.
    Dataframe.tail()	Purely integer-location based indexing for selection by position.
    DataFrame.lookup()	Label-based “fancy indexing” function for DataFrame.
    DataFrame.pop()	Return item and drop from frame.
    DataFrame.xs()	Returns a cross-section (row(s) or column(s)) from the DataFrame.
    DataFrame.get()	Get item from object for given key (DataFrame column, Panel slice, etc.).
    DataFrame.isin()	Return boolean DataFrame showing whether each element in the DataFrame is contained in values.
    DataFrame.where()	Return an object of same shape as self and whose corresponding entries are from self where cond is True and otherwise are from other.
    DataFrame.mask()	Return an object of same shape as self and whose corresponding entries are from self where cond is False and otherwise are from other.
    DataFrame.query()	Query the columns of a frame with a boolean expression.
    DataFrame.insert()	Insert column into DataFrame at specified location.

# DataFrame Methods:

                FUNCTION	DESCRIPTION
    index()	    Method returns index (row labels) of the DataFrame
    insert()	Method inserts a column into a DataFrame
    add()	    Method returns addition of dataframe and other, element-wise                   (binary operator add)
    sub()    	Method returns subtraction of dataframe and other, element-wise 
                (binary operator sub)
    mul()	    Method returns multiplication of dataframe and other, element-                 Wise (binary operator mul)
    div()	    Method returns floating division of dataframe and other, 
                element-wise (binary operator truediv)
    unique()	Method extracts the unique values in the dataframe
    nunique()	Method returns count of the unique values in the dataframe
    value_counts()	Method counts the number of times each unique value occurs 
                within the Series
    columns()	Method returns the column labels of the DataFrame
    axes()	    Method returns a list representing the axes of the DataFrame
    isnull()	Method creates a Boolean Series for extracting rows with null 
                values
    notnull()	Method creates a Boolean Series for extracting rows with non-
                null values
    between()	Method extracts rows where a column value falls in between a                   predefined range
    isin()	    Method extracts rows from a DataFrame where a column value                     exists in a predefined collection
    dtypes()	Method returns a Series with the data type of each column. The                 result’s index is the original DataFrame’s columns
    astype()	Method converts the data types in a Series
    values()	Method returns a Numpy representation of the DataFrame i.e.     
                only the values in the DataFrame will be returned, the axes                     labels will be removed
    sort_values()- Set1, Set2	Method sorts a data frame in Ascending or      
                Descending order of passed Column
    sort_index() Method sorts the values in a DataFrame based on their index                    positions or labels instead of their values but sometimes a                    data frame is made out of two or more data frames and hence                    later index can be changed using this method
    loc[]	     Method retrieves rows based on index label
    iloc[]	     Method retrieves rows based on index position
    ix[]	     Method retrieves DataFrame rows based on either index label or                  index position. This method combines the best features of the                  .loc[] and .iloc[] methods
    rename()	Method is called on a DataFrame to change the names of the                     index labels or column names
    columns()	Method is an alternative attribute to change the coloumn name
    drop()	    Method is used to delete rows or columns from a DataFrame
    pop()	    Method is used to delete rows or columns from a DataFrame
    sample()	Method pulls out a random sample of rows or columns from a                     DataFrame
    nsmallest()	Method pulls out the rows with the smallest values in a column
    nlargest()	Method pulls out the rows with the largest values in a column
    shape()  	Method returns a tuple representing the dimensionality of the                   DataFrame
    ndim()	    Method returns an ‘int’ representing the number of axes / array                  dimensions.
    Returns 1 if Series, otherwise returns 2 if DataFrame
    dropna()	Method allows the user to analyze and drop Rows/Columns with                  Null values in different ways
    fillna()	Method manages and let the user replace NaN values with some                   value of their own
    rank()	    Values in a Series can be ranked in order with this method
    query()	    Method is an alternate string-based syntax for extracting a                     subset from a DataFrame
    copy()	    Method creates an independent copy of a pandas object
    duplicated()	Method creates a Boolean Series and uses it to extract rows                 that have duplicate values
    drop_duplicates()	Method is an alternative option to identifying                         duplicate rows and removing them through filtering
    set_index()	Method sets the DataFrame index (row labels) using one or more                        existing columns
    reset_index()	Method resets index of a Data Frame. This method sets a                          list of integer ranging from 0 to length of data as index
    where()	     Method is used to check a Data Frame for one or more condition                  and return the result accordingly. By default, the rows not                    satisfying the condition are filled with NaN value